/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.eisenhower-matrix {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.eisenhower-matrix__img {
  width: 100%;
}

.eisenhower-matrix__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .eisenhower-matrix {
    text-align: center;
  }

}

.wrapper {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.new-task__name {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
  outline: none;
}

.new-task__wrapper {
  margin-top: 16px;
}

.new-task {
  display: flex;
  margin: 20px 0 16px;
}

.task-list {
  margin: 0;
  padding: 0;
}

.btn {
  background: none;
  outline: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.btn:hover {
  color: #3a3a3a;
}

/* Heading */
.heading {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.new-task__name,
.task-list__item__name_input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.new-task__name:focus,
.task-list__item__name_input:focus {
  color: #333;
}

/* New Task */
.new-task__name {
  width: 318px;
}

.btn-add:hover {
  color: #0fc57c;
}

/* Task list */
.task-list__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.task-list__item > * {
  vertical-align: middle;
}

.task-list__item__checkbox {
  margin: 0 10px;
  outline: none;
}

.task-list__item__name_label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task-list__item__name_input {
  width: 226px;
  outline: none;
}

.btn-delete:hover {
  color: #cf2323;
}

.btn-delete__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.btn-delete__img:hover {
  transform: rotateZ(0);
}

/* Completed */
.task-list_complete .task-list__item__name_label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task-list__item__name_input {
  display: none;
}

.edit-mode .task-list__item__name_input {
  display: inline-block;
  width: 224px;
}

.edit-mode .task-list__item__name_label {
  display: none;
}